// Screen
// ======

@import "grids";
@import "breakpoint";

body {
  margin: 0;
  padding: 0;
}

.container {
  @include container();
  width: 90%;
  margin: 0 auto;
  border: 10px solid #262626;
}

// default layout
// 12 columns
// 1/4 size gutter, gutter size is one quoter size of a column
.tile12 {
  // tile has one column
  @include span(1);
  font-size: 30px;
  height: 100px;
  background: #4c83c5;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #2e4e74;
  &:hover {
    color: white;
  }
  &.last {
    @include last();
  }
}

// 7 columns
// 1/2 size gutter
@include with-layout(7 1/2) {
  .tile2 {
    // tile has one column
    @include span(1);
    font-size: 30px;
    height: 100px;
    background: #4c83c5;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #2e4e74;
    &:hover {
      color: white;
    }
    &.last {
      @include last();
    }
  }
}
