extends layout

block head
  link(rel="stylesheet", href="/css/product.css", type="text/css", media="all")

block body
  h1 Example with susy and breakpoint
  p sass source file will found at `assets/sass/product.scss`
  .container
    - for (var i = 0; i < 36; i++) {
      .tile #{i}
    - }